body {
    background-image: url("img/wp3199581.jpg");

}
.car {
object-position: justify;
    margin-left: -100%;
    margin-top: 30%;
}
h1 {
  text-align: justify;
  color: aliceblue;
  margin-left: 30%;
}
h2{
  text-align: justify;
margin-left: 10%;
margin-top: 40%;
  color: aliceblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: lightblue;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
      .btn {
text-align: justify;
  margin-left: 25%;
  margin-top: -18%;
}
h3 {
color:aliceblue;
margin-left: 19%;
}